body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding-top: 80px;
}
h1 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 10px 0;
}
a {
    text-decoration: none;
    color: #007BFF;
}
a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #514a4a;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 11; /* Per assegurar-se que estigui per damunt d'altres elements */
}

nav .index-link{
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    transition: transform 0.1s ease-in-out;
}

nav .links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}


nav .links a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 0.9em;
    font-weight: bold;
    transition: transform 0.1s ease-in-out;
}


nav .links a:hover {
    transform: scale(1.1);
}

.interlineat-ampliat {
    line-height: 1.8; /* Ajusta aquest valor segons les teves necessitats */
    font-weight: 500;
}

.font-codi {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px; /* Ajusta la mida segons les teves necessitats */
    background-color: #000000; /* Fons negre */
    color: #ffffff; /* Color de lletra base (blanc) */
    padding: 10px; /* Espai interior per millorar la llegibilitat */
    border-radius: 5px; /* Cantonades arrodonides */
    border: 1px solid #444; /* Vora més fosca per contrastar amb el fons negre */
    font-weight: 500;
    line-height: 2.2;
    overflow-x: auto; /* Afegir scroll horitzontal si el codi és massa ample */
}

/* Colors per a elements del codi SQL */
.font-codi .keyword {
    color: #569cd6; /* Color per a paraules clau (SELECT, FROM, WHERE, etc.) */
}

.font-codi .string {
    color: #ce9178; /* Color per a strings (text entre cometes) */
}

.font-codi .number {
    color: #b5cea8; /* Color per a números */
}

.font-codi .comment {
    color: #6a9955; /* Color per a comentaris (-- o / ... /) */ 
}

.font-codi .function {
    color: #dcdcaa; /* Color per a funcions (COUNT, SUM, etc.) */
}

.font-codi .operator {
    color: #d4d4d4; /* Color per a operadors (+, -, =, etc.) */
}

.titol-index {
    font-size: 29px;
    font-family: Arial, sans-serif;
}